In [1]:
print("Hello world")

Hello world

In [2]:
abs(-34)

34

In [3]:
import math
math.tan(90)

-1.995200412208242

In [4]:
math.sqrt(13)

3.605551275463989

In [5]:
math.modf(12.45)

(0.4499999999999993, 12.0)

In [6]:
x=int(input("enter a number"))
y=int(input("enter next number"))
z=int(input("enter last number"))
print(max(x,y,z))

enter a number 7
enter next number 5
enter last number 9

9

In [14]:

c=0
x=int(input("enter the number"))
for i in range(1,x+1):
    if x % i==0:
        c=c+1
if c==2:
    print("The number is prime")
else:
    print("the number is composite")

enter the number 6

the number is composite

In [16]:
lst=[1,2,3,4,5,6,"hello"]

In [17]:
lst.insert(3,3)

In [18]:
lst

[1, 2, 3, 3, 4, 5, 6, 'hello']

In [20]:
set_var={1,23,4,5}

In [ ]:
import numpy as np
a=[1,2,3,4,5]
b=[3,2,1,4,5]

In [4]:
dict={"name":"sworaj","age":19}

In [5]:
type(dict)

dict

In [7]:
dict["age"]

19

In [13]:
import pandas as pd
import numpy as np

df=pd.DataFrame(np.arange(0,16).reshape(4,4),index=["row1","row2","row3","row4"],columns=["col1","col2","col3","col4"])

In [14]:
df

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15

In [15]:
df.head()

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15

In [21]:
type(df["col2"])

pandas.core.series.Series

In [26]:
df.loc[["row1","row2"]]

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7

In [27]:
df.iloc[0:2,0:2]

      col1  col2
row1     0     1
row2     4     5

In [28]:
type(df.iloc[0:2,0:2])

pandas.core.frame.DataFrame

In [29]:
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
dtype: int64

In [30]:
df.isnull().sum()==0

col1    True
col2    True
col3    True
col4    True
dtype: bool

In [32]:
df.loc["row1"].unique()

array([0, 1, 2, 3])

In [38]:
import pandas as pd
from io import StringIO

In [43]:
data=('col1,col2,col3\n'
      'a,b,1\n'
      'c,d,2')

In [44]:
type(data)

str

In [45]:
#in memory file format  objects
StringIO(data)

In [49]:
df=pd.read_csv(StringIO(data))
df

  col1 col2  col3
0    a    b     1
1    c    d     2

In [50]:
pd.read_csv(StringIO(data),usecols=['col1','col2'])

  col1 col2
0    a    b
1    c    d

In [60]:
data=('col1,col2,col3,col4\n'
      '1,2,3,1\n'
      '4,5,6,2\n'
      '7,8,9')

In [61]:
df=pd.read_csv(StringIO(data))

In [62]:
df

   col1  col2  col3  col4
0     1     2     3   1.0
1     4     5     6   2.0
2     7     8     9   NaN

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    3 non-null      int64
 1   col2    3 non-null      int64
 2   col3    3 non-null      int64
 3   col4    2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 228.0 bytes

In [64]:
df=pd.read_csv(StringIO(data),dtype={'col1':int,'col2':float,'col3':int})

In [65]:
df

   col1  col2  col3  col4
0     1   2.0     3   1.0
1     4   5.0     6   2.0
2     7   8.0     9   NaN

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    3 non-null      int32
 1   col2    3 non-null      float64
 2   col3    3 non-null      int32
 3   col4    2 non-null      float64
dtypes: float64(2), int32(2)
memory usage: 204.0 bytes

In [80]:
data='{"name":"swosexy","email":"swodawg@gmail","job":[{"title1":"lead","title2":"senior dev"}]}'

In [81]:
type(data)

str

In [82]:
pd.read_json(data)

C:\Users\swora\AppData\Local\Temp\ipykernel_33556\1661395064.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data)

      name          email                                         job
0  swosexy  swodawg@gmail  {'title1': 'lead', 'title2': 'senior dev'}

In [88]:
data=[{"name":"swosexy","email":"swodawg@gmail","job":{"title1":"lead","title2":"senior dev"}}]

In [89]:
pd.json_normalize(data)

      name          email job.title1  job.title2
0  swosexy  swodawg@gmail       lead  senior dev

# pandas with html

In [90]:
import pandas as pd

In [101]:
ucl=pd.read_html("https://en.wikipedia.org/wiki/List_of_European_Cup_and_UEFA_Champions_League_finals",match="List of European Cup and UEFA Champions League finals")

In [102]:
ucl

[                                        0  \
 0  European Cup / Champions League trophy
 1                                 Founded
 2                                  Region
 3                         Number of teams
 4                       Current champions
 5                 Most successful club(s)
 6        2024 UEFA Champions League final

                                         1
 0  European Cup / Champions League trophy
 1                                    1955
 2                           UEFA (Europe)
 3         36 (league stage) 2 (finalists)
 4               Real Madrid  (15th title)
 5                 Real Madrid (15 titles)
 6        2024 UEFA Champions League final  ,
              Season          Country          Winners            Score  \
 0           1955–56            Spain      Real Madrid              4–3
 1           1956–57            Spain      Real Madrid              2–0
 2           1957–58            Spain      Real Madrid             3–2†
 3           1958–59            Spain      Real Madrid              2–0
 4           1959–60            Spain      Real Madrid              7–3
 ..              ...              ...              ...              ...
 69          2023–24            Spain      Real Madrid              2–0
 70  Upcoming finals  Upcoming finals  Upcoming finals  Upcoming finals
 71           Season          Country         Finalist            Match
 72          2024–25              NaN              NaN                v
 73          2025–26              NaN              NaN                v

              Runners-up        Country.1  \
 0                 Reims           France
 1            Fiorentina            Italy
 2                 Milan            Italy
 3                 Reims           France
 4   Eintracht Frankfurt     West Germany
 ..                  ...              ...
 69    Borussia Dortmund          Germany
 70      Upcoming finals  Upcoming finals
 71             Finalist          Country
 72                  NaN              NaN
 73                  NaN              NaN

                                      Venue                  Attend­ance[15]
 0          Parc des Princes, Paris, France                            38239
 1         Santiago Bernabéu, Madrid, Spain                           124000
 2        Heysel Stadium, Brussels, Belgium                            67000
 3   Neckarstadion, Stuttgart, West Germany                            72000
 4          Hampden Park, Glasgow, Scotland                           127621
 ..                                     ...                              ...
 69        Wembley Stadium, London, England                            86212
 70                         Upcoming finals                  Upcoming finals
 71                                   Venue                            Venue
 72          Allianz Arena, Munich, Germany   Allianz Arena, Munich, Germany
 73         Puskás Aréna, Budapest, Hungary  Puskás Aréna, Budapest, Hungary

 [74 rows x 8 columns]]

In [96]:
ucl[2]

,Season,Country,Winners,Score,Runners-up,Country.1,Venue,Attend­ance[15]
0,1955–56,Spain,Real Madrid,4–3,Reims,France,"Parc des Princes, Paris, France",38239
1,1956–57,Spain,Real Madrid,2–0,Fiorentina,Italy,"Santiago Bernabéu, Madrid, Spain",124000
2,1957–58,Spain,Real Madrid,3–2†,Milan,Italy,"Heysel Stadium, Brussels, Belgium",67000
3,1958–59,Spain,Real Madrid,2–0,Reims,France,"Neckarstadion, Stuttgart, West Germany",72000
4,1959–60,Spain,Real Madrid,7–3,Eintracht Frankfurt,West Germany,"Hampden Park, Glasgow, Scotland",127621
...,...,...,...,...,...,...,...,...
69,2023–24,Spain,Real Madrid,2–0,Borussia Dortmund,Germany,"Wembley Stadium, London, England",86212
70,Upcoming finals,Upcoming finals,Upcoming finals,Upcoming finals,Upcoming finals,Upcoming finals,Upcoming finals,Upcoming finals
71,Season,Country,Finalist,Match,Finalist,Country,Venue,Venue
72,2024–25,NaN,NaN,v,NaN,NaN,"Allianz Arena, Munich, Germany","Allianz Arena, Munich, Germany"
73,2025–26,NaN,NaN,v,NaN,NaN,"Puskás Aréna, Budapest, Hungary","Puskás Aréna, Budapest, Hungary"

In [100]:
ucl[2].to_html('demo.html')

# Pandas working with XML

In [104]:
import pandas as pd
xml=pd.read_xml("https://www.w3schools.com/xml/simple.xml")

In [105]:
xml

,name,price,description,calories
0,Belgian Waffles,$5.95,Two of our famous Belgian Waffles with plenty ...,650
1,Strawberry Belgian Waffles,$7.95,Light Belgian waffles covered with strawberrie...,900
2,Berry-Berry Belgian Waffles,$8.95,Light Belgian waffles covered with an assortme...,900
3,French Toast,$4.50,Thick slices made from our homemade sourdough ...,600
4,Homestyle Breakfast,$6.95,"Two eggs, bacon or sausage, toast, and our eve...",950

In [106]:
xml.to_xml('test.xml')

In [15]:
def eosum(lst):
  esum=0
  osum=0
  for i in lst:
    if i%2==0:
      esum=esum+i
    else:
      osum=osum+i
  print("The even sum is {} and odd sum is {}".format(esum,osum))

In [16]:
eosum([1,2,3,4,5])

The even sum is 6 and odd sum is 9

# positional and keyword arguments

In [20]:
def check(*args,**kwargs):
    print(args)
    print(kwargs)

In [21]:
check("sworaj","khadka","secy",age=19,dob=2005)

('sworaj', 'khadka', 'secy')
{'age': 19, 'dob': 2005}

In [23]:
lst=list(("sworaj","khadka","secy"))
dic={'age': 19, 'dob': 2005}

In [24]:
check(lst,dic)

(['sworaj', 'khadka', 'secy'], {'age': 19, 'dob': 2005})
{}

In [25]:
check(*lst,**dic)

('sworaj', 'khadka', 'secy')
{'age': 19, 'dob': 2005}

# Classses and OOPS begins now

In [32]:
class Car:
    def __init__(self,name,brand,price):
        self.name=name
        self.brand=brand
        self.price=price
    def loc(self,loc):
        print("The {} car is available on {}".format(self.name,loc))

In [33]:
car1=Car("gt3","Porsche","$2M")

In [34]:
print(car1)

<__main__.Car object at 0x000002384C16EB10>

In [38]:
car1.loc("germany")

The gt3 car is available on germany

In [39]:
print(dir(car1))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'brand', 'loc', 'name', 'price']

In [28]:
class Car:
    def __init__(self,name,brand,price):
        self.name=name
        self.brand=brand
        self.price=price
    def loc(self,loc):
        print("The {} car is available on {}".format(self.name,loc))
class Scar(Car):
    def __init__(self,name,brand,price,maxspeed):
        super().__init__(name,brand,price)
        self.maxspeed=maxspeed
    def check(self, yn):
        self.yn=yn
        print(yn)

In [29]:
audi=Scar("audi","AUDI",300,250)

In [30]:
audi.maxspeed

250

In [32]:
audi.price=500

In [33]:
audi.price

500

In [46]:
audi.loc("nepal")

The audi car is available on nepal

In [43]:
audi.brand

'AUDI'

In [47]:
print(dir(audi))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'brand', 'check', 'loc', 'maxspeed', 'name', 'price']

In [49]:
audi.check("yes")

yes

# Lambda function

In [4]:
#convert a list of integers to their corresponding sqaure values 
sq=lambda lst:lst**2
sq(4)

16

In [10]:
numbers=[1,2,3,4,5,6]
square= list(map(lambda x:x**2,numbers))
print(square)

[1, 4, 9, 16, 25, 36]

In [13]:
#filter out even numbers from a list 
numbers=[1,2,3,4,5,6]
find=list(filter(lambda x:x%2==0,numbers))
print(find)

[2, 4, 6]

In [20]:
# sort a list of strings based on their alphabetical characters and length:
fruits=["apple","banana","cherry","date" ,"watermelomn"]
sorted(fruits,key=lambda x:len(x))

['date', 'apple', 'banana', 'cherry', 'watermelomn']

In [21]:
sorted(fruits)

['apple', 'banana', 'cherry', 'date', 'watermelomn']

In [23]:
# complex examples
# sort a list of dictionaries based on a specific key

In [24]:
# finding max value from a dictionary
data={'a':50,'b':34,'c':67,'d':98}
max(data,key=lambda x:data[x])

'd'

In [25]:
data={'a':50,'b':34,'c':67,'d':98}
max(data)

'd'

# dataclasses

In [37]:
#nested dataclasses
from dataclasses import dataclass
@dataclass
class Address:
    street:str
    city:str
    zip_code:int
@dataclass
class Person:
    name:str
    age:int
    address:Address

In [39]:
Thegana=Address("123 commercial street","Bangalore",2354233)
Manche=Person("ram",23,Thegana)

In [40]:
Manche.address

Address(street='123 commercial street', city='Bangalore', zip_code=2354233)

In [41]:
@dataclass
class Address:
    street:str
    city:str
    zip_code:int
@dataclass
class Person(Address):
    name:str
    age:int

In [42]:
X=Address("123 street","Bihar",23423)

In [43]:
p=Person("123 street","Bihar",23432,"ramey",21)

In [44]:
p.city

'Bihar'

# Encapsulation in python

In [46]:
# They are access modifiers and are of 3 types:
#public,protected and private

In [61]:
# Private modifiers
class Person:
    def __init__(self,name,age):
        self.__name=name
        self.__age=age
    def person_info(self):
        print("The name and age of person is {} {}".format(self.__name,self.__age))

In [62]:
p1=Person("Swosexy",19)

In [63]:
p1.name

AttributeError: 'Person' object has no attribute 'name'

In [64]:
dir(p1)

['_Person__age',
 '_Person__name',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'person_info']

In [65]:
p1._Person__name
# don't do this since you're exposing the attributes of a private company

'Swosexy'

In [80]:
#Hence to access the data you can simply do the method
p1.person_info()

The name and age of person is Swosexy 19

In [74]:
#protected encapsulation
class Man:
    def __init__(self,name,age):
        self._name=name
        self._age=age

class Human(Man):
    def __init__(self,name,age):
        super().__init__(name,age)

    def display_info(self):
        print(f"The name is {self._name}and age is {self._age}")

In [75]:
M=Man("ram",20)

In [77]:
hum=Human("dawg",34)

In [79]:
hum.display_info()

The name is dawgand age is 34